body {
  background-image: url("https://pixabay.com/static/uploads/photo/2016/07/29/18/24/water-1555170_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-size:50px;
  color: #dbee9e;
  text-align: center;
  padding-top: 150px;

}
p {
  font-size:15px;
  color: #a3217b;
  text-align: center;
}
background-image: 
]
