body {
  background-image: url("https://pixabay.com/static/uploads/photo/2016/07/29/18/24/water-1555170_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-size:50px;
  color: #dbee9e;
  text-align: center;
  padding-top: 150px;

}
p {
  font-size:15px;
  color: #a3217b;
  text-align: center;
}
.logo {
  background-image: url("./Logo.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  position: relative;
  top: -16em;
  left: 5em;
}
.menu {
  background-image: url("./Menu-icon.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  position: relative;
  top: -18em;
  left: 75em;
}
.button-down {
  background-image: url("./button-down.png");
  background-repeat: no-repeat;
  height: 75px;
  width: 75px;
  position: relative;
  left: 40em;
  top: 5em;
}
